/* "*" : 전체 선택자 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto";
}
.modalNoOutline > div:focus {
  outline: none;
}
.teamModalName {
  color: #1e1e1e;
  padding: 3px;
}
.teamModalPosition {
  color: #f68b29;
  padding: 3px;
}
.aboutuscontents {
  width: 100%;
  height: 100%;
  padding: 100px 10%;
}
.aboutustitle {
  text-align: center;
}
.aboutusline {
  display: inline-block;
  width: 60px;
  height: 1.5px;
  background: #000;
}
#whoweare .aboutusline {
  background: #ffffff;
}
/* WHO WE ARE  */
.whoweareContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 96px;
}
.whoweareContentTitle {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  white-space: pre-line;
}
.whoweareContentsWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  white-space: pre-line;
}

/* HERINGS TEAM */
.TeamListWrap {
  height: 100%;
  padding-left: calc(2vw);
  padding-right: calc(2vw);
  /* padding: calc(2vh) calc(3vw); */
}
.Subtitle > span:first-child {
  margin-right: 8px;
}
.Subtitle {
  padding-left: calc(1vw);
  margin: calc(3vh) 0;
}
.listWrap {
  position: relative;
  left: -5px;
  right: -5px;
  width: calc(100% + 10px);
  height: max-content;
  margin-bottom: 50px;
}
.teamDivWrap {
  outline: none;
  margin: 0;
  /* text-align: center; */
}
.heringsTeamWrap {
  word-break: keep-all;
  outline: none;
  width: 92%;
  height: max-content;
  min-height: 370px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 25px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heringsTeamWrap > hr {
  width: 45px;
  margin: 4% auto;
  background-color: #f5f5f5;
  border: 3px solid #f5f5f5;
  border-radius: 3px;
  height: 0;
}
.listImg {
  width: 65%;
  max-width: 65%;
  height: auto;
}
.heringsTeamContentText {
  margin: 15% 10%;
  min-height: 60px;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* PARTNERS & INVESTORS */
.researchWrap {
  padding: 2% 0;
}
.PAIDiv {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.partner__image__container {
  border: 1px solid #f0f3f6;
  width: 19%;
  padding: 2% 3.5%;
  margin: 0 1% 1% 0;
  min-height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.partner__image__container > img {
  height: auto;
  width: 100%;
  margin: auto;
}
.inventors__image__container {
  border: 1px solid #f0f3f6;
  width: 24%;
  padding: 3% 4.5%;
  margin: 0 1% 1% 0;
  min-height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.inventors__image__container > img {
  height: auto;
  width: 100%;
  margin: auto;
}

/* 1024 < screen <= 1260 */
@media screen and (max-width: 1260px) {
  .SectionColorGray {
    padding: 16px 35px;
  }
  .Subtitle {
    margin: calc(2vh) 0;
  }
  .heringsTeamWrap {
    height: max-content;
    min-height: 300px;
  }
}
/* 768 < screen <= 1024 */
@media screen and (max-width: 1024px) {
  .titleDiv > span {
    margin-bottom: 18px;
  }
  .titleDiv > hr {
    width: 50px;
  }
  .whoweareContent {
    flex-direction: column;
  }
  .SectionColorGray {
    padding: 16px 2px;
  }
  .TeamListWrap {
    padding: 1% 8%;
  }
}
/* 600 < screen <= 768 */
@media screen and (max-width: 768px) {
  .titleDiv > hr {
    width: 40px;
    margin: 28px auto;
  }
  /* WHO WE ARE */
  /* .whoweareContent {
    flex-direction: column;
  } */
  /* HERINGS TEAM */
  .Subtitle > span:first-child {
    margin-right: 8px;
  }
  .SectionColorGray {
    padding: 14px 5px;
  }
  .heringsTeamWrap {
    height: 100%;
    min-height: 240px;
  }
}
/* 320px < screen <= 600px */
@media screen and (max-width: 600px) {
  /* .whoweareContentsWrap {
    margin-bottom: 50px;
  } */
  /* HEARINGS TEAM */
  .TeamListWrap {
    padding: 1% 5%;
  }
  .Subtitle > span {
    margin: 2px 0 2px 0;
  }
  .listWrap {
    margin-bottom: 10px;
  }
  .listImgWrap {
    min-height: 1px;
    margin: auto;
  }
  /* PARTNERS&INV */
  .partner__image__container,
  .inventors__image__container {
    margin: 1.5%;
    width: 22.75%;
    padding: 3%;
  }
  .partner__image__container:nth-child(4n + 1),
  .inventors__image__container:nth-child(4n + 1) {
    margin-left: 0;
  }
  .partner__image__container:nth-child(4n),
  .inventors__image__container:nth-child(4n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 320px) {
  /* WHO WE ARE */
  /* .whoweareContent {
    height: max-content;
    margin-top: 44px;
  }
  .whoweareContentTitle {
    margin: auto;
  }
  .whoweareContentsWrap {
    margin-bottom: 20px;
    white-space: pre-wrap;
  } */
  /* HERINGS TEAM */
  .heringsTeamWrap {
    min-height: 160px;
    height: max-content;
  }
  .split {
    letter-spacing: normal;
  }
}
