/* "*" : 전체 선택자 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto";
}
.modalNoOutline > div:focus {
  outline: none;
}
.teamModalName {
  color: #1e1e1e;
  padding: 3px;
}
.teamModalPosition {
  color: #f68b29;
  padding: 3px;
}
.titleDiv {
  margin-bottom: 37px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.titleDiv > hr {
  width: 60px;
  margin: 28px auto;
  height: 0;
  background-color: #000;
}

/* WHO WE ARE  */
.whoweare .titleDiv {
  color: #fff;
}
.whoweare .titleDiv > hr {
  background-color: #fff;
}
.whoweareContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.whoweareContentTitle {
  margin: 24px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.whoweareContentsWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/* HERINGS TEAM */
.TeamListWrap {
  height: 100%;
  padding: 0 5%;
}
.Subtitle > span:first-child {
  margin-right: 8px;
}
.listWrap {
  position: relative;
  left: -5px;
  right: -5px;
  width: calc(100% + 10px);
  height: max-content;
  margin-bottom: 50px;
}
.teamDivWrap {
  outline: none;
  margin: 0 auto;
}
.teamDivWrapNone {
  display: none;
}
.heringsTeamWrap {
  word-break: keep-all;
  outline: none;
  width: 92%;
  cursor: pointer;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}
.wrapFirst {
  margin-left: 0;
}
.heringsTeamWrap > hr {
  width: 45px;
  margin: 12px auto;
  background-color: #f5f5f5;
  border: 3px solid #f5f5f5;
  border-radius: 3px;
  height: 0;
}
.listImgWrap {
  min-height: 1px;
  width: 100%;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listImg {
  width: 65%;
  max-width: 65%;
  height: auto;
}
.heringsTeamContentText {
  margin: 35px 25px 10%;
  min-height: 60px;
  text-align: left;
}
.heringsTeamContentText:first-child {
  font-size: 18px;
}
.heringsTeamContentText:last-child {
  font-size: 16px;
}
/* PARTNERS & INVESTORS */
.researchWrap {
  padding: 2% 0;
}
.PAIDiv {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.partner__image__container {
  border: 1px solid #f0f3f6;
  width: 19%;
  padding: 2% 3.5%;
  margin: 0 1% 1% 0;
  min-height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.partner__image__container > img {
  height: auto;
  width: 100%;
  margin: auto;
}
.inventors__image__container {
  border: 1px solid #f0f3f6;
  width: 24%;
  padding: 3% 4.5%;
  margin: 0 1% 1% 0;
  min-height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.inventors__image__container > img {
  height: auto;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .titleDiv > span {
    margin-bottom: 18px;
  }
  .titleDiv > hr {
    width: 50px;
  }
  .whoweareContent {
    flex-direction: column;
  }
  .whoweareContentsWrap {
    font-size: 16px;
    color: #fff;
  }
  .TeamListWrap {
    padding: 1% 8%;
  }
}

@media screen and (max-width: 768px) {
  .titleDiv > hr {
    width: 40px;
    margin: 28px auto;
  }
  /* WHO WE ARE */
  .whoweareContent {
    flex-direction: column;
  }
  /* HERINGS TEAM */
  .Subtitle > span {
    font-size: 15px;
  }
  .Subtitle > span:first-child {
    margin-right: 8px;
  }
  .heringsTeamContentText:first-child {
    font-size: 14px;
  }
  .heringsTeamContentText:last-child {
    font-size: 11px;
  }
}
@media screen and (max-width: 600px) {
  .titleDiv {
    font-size: 18px;
  }
  /* WHO WE ARE */
  .whoweareContentTitle {
    /* flex-direction: column; */
    font-size: 18px;
  }
  .whoweareContent {
    height: max-content;
  }
  .whoweareContentsWrap {
    font-size: 10px;
  }
  /* HERINGS TEAM */
  .TeamListWrap {
    padding: 1% 5%;
  }
  .heringsTeamContentText:first-child {
    font-size: 14px;
  }
  .heringsTeamContentText:last-child {
    font-size: 14px;
  }
  /* PARTNERS&INV */
  .partner__image__container,
  .inventors__image__container {
    margin: 1.5%;
    width: 22.75%;
    padding: 3%;
  }
  .partner__image__container:nth-child(4n + 1),
  .inventors__image__container:nth-child(4n + 1) {
    margin-left: 0;
  }
  .partner__image__container:nth-child(4n),
  .inventors__image__container:nth-child(4n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .titleDiv {
    margin: 0 0 0 0;
  }
  .titleDiv > span {
    font-size: 15px;
    font-weight: 600;
  }
  .titleDiv > hr {
    width: 35px;
    margin: 5px 0 30px 0;
  }
  /* WHO WE ARE */
  .whoweareContentTitle {
    margin: auto;
    font-size: 15px;
    font-weight: 600;
  }
  .whoweareContentsWrap {
    width: 300px;
    margin-bottom: 20px;
    word-break: normal;
  }
  .whoweareContentsWrap span {
    font-size: 12px;
  }
  .we {
    font-size: 15px;
    font-weight: 600;
  }

  /* HEARINGS TEAM */
  .Subtitle > span {
    font-size: 14px;
    margin: 2px 0 2px 0;
  }
  .heringsTeamWrap {
    width: 90%;
    margin: 2px;
  }
  .listWrap {
    margin-bottom: 10px;
  }
  .listImgWrap {
    min-height: 1px;
    margin: auto;
  }
  .heringsTeamWrap {
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  .heringsTeamContentText {
    min-height: 60px;
    text-align: left;
    justify-self: center;
    margin-top: 5x;
  }
  .heringsTeamContentText:first-child {
    font-size: 12px;
  }
  .heringsTeamContentText:last-child {
    font-size: 12px;
  }
}

/* MODAL */
.paper {
  width: 55%;
  max-height: calc(85vh);
  overflow: auto;
  box-shadow: 0 0 100px 20px rgba(0, 0, 0, 0.7);
  background-color: #fff;
}
.modalimage {
  width: 35%;
  max-width: 35%;
  height: auto;
}
.modalTitle {
  color: #4a4a4a;
}
.modalContent {
  height: auto;
  max-height: 750;
  padding: 20;
  text-align: center;
}
.careerModalTitleSection > span {
  font-size: 26px;
}
.modalContentText {
  border-top: 1px solid #ddd;
  text-align: left;
  white-space: pre-wrap;
  color: #4a4a4a;
  padding: 25px;
  line-height: 160%;
  font-size: 16px;
}
.modalCloseWrap {
  position: relative;
}
.modalCloseDiv {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  outline: none;
  padding: 5px;
}
.modalClose {
  width: 50px;
  height: 50px;
  max-width: 70;
  padding: 2;
  cursor: pointer;
  outline: none;
}
.modalimageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-border {
  border-top: solid 0.5px #bebebe;
}
@media screen and (max-width: 1260px) {
  .modalCloseDiv {
    top: calc(-0.9vh);
  }
  .modalClose {
    width: 40px;
  }
}
@media screen and (max-width: 768px) {
  .paper {
    width: 80%;
  }
  .modalCloseDiv {
    top: -10px;
  }
  .modalClose {
    width: 30px;
  }
}
@media screen and (max-width: 600px) {
  .careerModalTitleSection > span {
    font-size: 20px;
  }
  .modalContentText {
    padding: 25px 10px 25px 10px;
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  .modalContentText {
    padding: 25px 10px 25px 10px;
    font-size: 12px;
  }
}
