/*  Research => 1260 < Screen  */

/* CONTENTS DIV */
.contents {
  position: relative;
  max-width: 1280px;
  margin: auto;
  text-align: center;
}
.contentspadding {
  padding-left: 36px;
  padding-right: 36px;
}
.contentsmargin {
  padding-left: 48px;
  padding-right: 48px;
}

.explanation {
  text-align: start;
  line-height: 146%;
}

.image-fit {
  /* width: 50%; */
  max-width: 100%;
  max-height: 100%;
}
.drugadverse-padding {
  padding-left: 48px;
  padding-right: 48px;
}

.research-youtube {
  width: 100%;
  height: 480px;
  background: #f2c285;
  border-radius: 24px;
}

.atti-content {
  display: flex;
  flex-direction: row;
}

.contents-top-padding {
  padding-top: 236px;
}

/*  Research => 1024 < Screen < 1260 */
@media screen and (max-width: 1260px) {
  .drugadverse-padding {
    padding-left: 24px;
    padding-right: 24px;
  }
  .research-youtube {
    height: 400px;
  }
  .contents-top-padding {
    padding-top: 116px;
  }
}

/*  Research => 768 < Screen < 1024 */
@media screen and (max-width: 1024px) {
  .healiary {
    margin-top: 100px;
    margin-bottom: 114px;
  }
  .atti-content {
    display: flex;
    flex-direction: column;
  }
  .contents-top-padding {
    padding-top: 96px;
  }
}

/*  Research => 600 < Screen < 768 */
@media screen and (max-width: 768px) {
  .drugadverse-padding {
    padding-left: 12px;
    padding-right: 12px;
  }
  .research-youtube {
    height: 267px;
  }
}

/*  Research => 320 < Screen < 600 */
@media (min-width: 320px) and (max-width: 600px) {
  .contentspadding {
    padding-left: 12px;
    padding-right: 12px;
  }
  .contentsmargin {
    padding-left: 12px;
    padding-right: 12px;
  }
  .drugadverse-padding {
    padding-left: 0px;
    padding-right: 0px;
  }
  .research-youtube {
    height: 200px;
  }
}














/* .pipelineContent {
  width: 100%;
  padding: 0 0 5%;
  display: flex;
}
.div-table-wrap {
  width: 100%;
}
.div-table-head-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.div-table-col-head {
  width: 15%;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: solid 0.5px #bebebe;
  word-wrap: break-word;
  background-size: cover;
  background-position: center;
}
.div-table-col {
  width: 12.1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  word-wrap: break-word;
  border-bottom: solid 0.5px #bebebe;
  padding: 20px;
}
.div-table-col > div {
  white-space: nowrap;
}
.div-table-head-row > .div-table-col,
.div-table-head-row > .div-table-col-head {
  color: #666;
  border-top: solid 3px #1e1e1e;
  padding: 18px;
}
.div-table-cell-row {
  width: 100%;
  height: 80px;
  display: inline-flex;
}
.div-table-bar-cols {
  display: inline-flex;
  position: relative;
}

.divfill4 {
  width: 48.4%;
}
.divfill5 {
  width: 60.5%;
}

.bar {
  border-bottom: solid 0.5px #bebebe;
  background-color: #ffffff;
  display: flex;
} */
/* .craimonBar {
  width: 20%;
} */
/* .rhexiumBar {
  width: 30%;
}
.fillDiv {
  position: absolute; */
  /* left: 0.1%; */
  /* width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
}
.fill {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fillLine {
  height: 31%;
  background-color: #04c6a2;
  border-right: 4px solid #04c6a2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 100%;
}
.fillPointer {
  width: 0;
  height: 16%;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #04c6a2;
}
.filePointerNone {
  position: relative;
  width: 0;
  height: 10%;
  border: 3px solid #04c6a2;
  border-radius: 3px;
}

@media screen and (max-width: 1024px) {
  .pipelineContent {
    width: 100%;
    overflow-x: auto;
  }
  .div-table-wrap {
    width: 1024px;
  }
} */
