.policyWrap {
  padding-left: 32%;
  padding-right: 32%;
}
.buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}
.policyButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 20px 8px 24px;
  gap: 4px;
  width: max-content;
  height: 32px;
  border-radius: 12px;
  margin: 47px 6px;
}
.policycontent {
  text-align: left;
}
.text {
  text-align: left;
  line-height: 160%;
}

/* TABLE */

@media screen and (max-width: 320px) {
  .buttons {
    display: flex;
    flex-direction: column;
    /* margin-left: 100%; */
    justify-content: right;
  }
  .policyButton {
    margin: 12px 0px;
  }
  .selectedPolicyButton {
    margin: 12px 0px;
  }
  .policyWrap {
    margin-top: 87px;
    padding-left: 10%;
    padding-right: 10%;
  }
}
