.policyWrap {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 24px;
}
.privacybuttons {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 48px;
}
.policyButton {
  display: block; /* 크기 적용 */
  width: max-content;
  max-height: 33px;
  align-items: center;
  justify-content: center;
  padding: 8px 20px 8px 24px;
  gap: 4px;
  border-radius: 12px;
  margin: 0 6px 0 6px;
}
.policyButton > div {
  color: #282828;
}
.policyTitle {
  vertical-align: center;
  margin-bottom: 48px;
  text-align: center;
  line-height: 160%;
}
.policyContents {
  text-align: left;
}

/*  600 < Screen <= 768 */
@media screen and (max-width: 1024px) {
  .policyWrap {
    width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .policyWrap {
    width: 550px;
    padding: 48px 18px;
  }
}
@media screen and (max-width: 600px) {
  .policyWrap {
    width: 330px;
    padding: 48px 5px;
  }
}
/* screen <= 320px */
@media screen and (max-width: 320px) {
  .privacybuttons {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  .policyButton {
    display: inline-block;
    margin: 6px 0 6px auto;
  }
  .policyWrap {
    width: 280px;
    padding: 48px 0;
  }
}
