.main-container {
  height: 100vh;
}
.main-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.maintext {
  color: #414141;
  font-size: 48px;
  text-align: left;
  font-weight: 600;
  line-height: 65px;
  position: absolute;
  z-index: 2;
  top: 38%;
  left: 33%;
  transform: translate(-50%, -10%);
}
.maintext2 {
  color: #2c2c2c;
  font-size: 24px;
  font-family: "Roboto400";
  text-align: center;
  font-weight: 400;
  line-height: 40px;
}

.maintext3 {
  color: #ff903c;
  font-family: "Roboto500";
  font-size: 30px;
  font-weight: 600;
  line-height: 109%;
}

.maintext4 {
  color: #000;
  font-family: "Roboto500";
  font-size: 30px;
  font-weight: 500;
}
/* .mainimagetext {
  color: #414141;
  position: absolute;
  z-index: 2;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.mainlayout {
  position: relative;
  text-align: center;
  justify-content: center;
  background-image: url("../../assets/images/00main/main1.png");
  background-size: contain;
  background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
  background-position: right;
  width: 100%; /* 부모 요소의 전체 너비를 차지하도록 설정 */
  height: 735px; /* 화면의 전체 높이를 차지하도록 설정 */
  top: 4rem;
}

.mainlayout2 {
  background-color: #fffbec;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 80px 200px;
  text-align: center;
  justify-content: center;
  gap: 48px;
  width: 100%; /* 부모 요소의 전체 너비를 차지하도록 설정 */
  /* height: 735px;  */
}

.mainlayout3 {
  position: relative;
  display: flex;
  height: 1920px;
  padding: 138px 310px;
  flex-direction: column;
  align-items: flex-start;
  gap: 180px;
}

.mainlayout4 {
  display: flex;
  /* height: 1920px; */
  padding: 0px 50px;
  position: absolute;
  bottom: 110px;
  flex-direction: row;
  justify-content: space-between;
  gap: 0px;
}

.mainlayoutImage {
  background-image: url("../../assets/images/00main/main2.svg");
  height: 110vw;
  /* background-size: contain; */
  background-position: right;
  background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
  width: 100%; /* 부모 요소의 전체 너비를 차지하도록 설정 */
}

.mainsublayout {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mainsublayout2 {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.mainsublayout3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 34px;
}

.mainsub3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 45px;
}
.mainsub3_1 {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.mainsub3_2 {
  display: flex;
  /* position: absolute; */
  /* bottom: 110px; */
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 24px;
}

.subImage {
  display: flex;
  /* padding: ; */
  border-radius: 27px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
}

.subTitle {
  color: #212121;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 600;
}

.subContent {
  white-space: pre-wrap;
  color: #7d7c7c;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.4px;
}

.subContent2 {
  color: #424242;
  font-family: "Roboto500";
  font-size: 20px;
  font-weight: 500;
  line-height: 38px;
}

.subContent3 {
  color: #424242;
  font-family: "Roboto500";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.moveButton {
  display: flex;
  width: 15vw;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 52px;
  background-color: #ff903c;
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 160%;
  text-transform: uppercase;
}

.itemRight {
  align-self: flex-end;
  text-align: right;
}

.diamonds {
  position: relative;
  width: 40vw; /* 전체 너비를 설정, 마름모 크기에 따라 조정 필요 */
  height: 11.1vw; /* 전체 높이를 설정, 마름모 크기에 따라 조정 필요 */
  margin-top: 8vw;
}

.diamond {
  background-color: #ffffff;
  position: absolute; /* 상대적 위치 조정을 위해 absolute 사용 */
  text-align: center;
  border-radius: 15px;
  padding: 0px 20px;
  width: 14.5vw; /* 마름모의 너비 */
  height: 14.5vw; /* 마름모의 높이 */
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

/* 첫 번째 마름모 (아래) */
.diamond:nth-child(1) {
  top: -1vw;
  left: -1vw;
}

/* 두 번째 마름모 (위) */
.diamond:nth-child(2) {
  bottom: 7vw;
  left: 6.5vw; /* 이전 마름모와 겹치지 않도록 왼쪽으로부터의 위치 조정 */
}

/* 세 번째 마름모 (아래) */
.diamond:nth-child(3) {
  top: -1vw;
  left: 14.5vw; /* 이전 마름모와 겹치지 않도록 왼쪽으로부터의 위치 조정 */
}

/* 네 번째 마름모 (위) */
.diamond:nth-child(4) {
  bottom: 7vw;
  left: 22.5vw; /* 이전 마름모와 겹치지 않도록 왼쪽으로부터의 위치 조정 */
}

.diamond-text {
  color: #f68c29;
  height: 4vw;
  font-size: 1.3vw;
  /* text-align: center; */
  font-family: "Roboto500";
  line-height: 160%;
  text-transform: uppercase;
  padding-top: 50px;
}
.diamond-text2 {
  color: #000;
  font-size: 0.9vw;
  font-family: "Roboto300";
  line-height: 160%;
}
