.main-container {
  height: 100vh;
}
.main-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mainimagetext {
  color: #ffffff;
  position: absolute;
  z-index: 100;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainimagelayout {
  position: relative;
  text-align: center;
  justify-content: center;
  background-image: url("../../assets/images/mainimage.png");
  background-size: cover;
  background-position: right;
}

