.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}
/* .main-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.maintext {
  color: #414141;
  font-size: clamp(1rem, 2.455vw, 3rem);
  /* font-size: 44px; */
  text-align: left;
  font-weight: 600;
  line-height: 3.64vw;
  padding-top: 14vw;
  padding-left: 17vw;
  z-index: 2;
}
.maintext2 {
  color: #2c2c2c;
  font-size: clamp(1rem, 1.34vw, 2rem);
  /* font-size: 24px; */
  font-family: "Roboto400";
  text-align: center;
  font-weight: 400;
  line-height: 40px;
}

.maintext3 {
  color: #ff903c;
  font-family: "Roboto500";
  font-size: clamp(1rem, 1.675vw, 2rem);
  /* font-size: 30px; */
  font-weight: 600;
  line-height: 109%;
}

.maintext4 {
  color: #000;
  font-family: "Roboto500";
  font-size: clamp(1rem, 1.675vw, 2rem);
  /* font-size: 30px; */
  font-weight: 500;
}
/* .mainimagetext {
  color: #414141;
  position: absolute;
  z-index: 2;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.mainlayout {
  position: relative;
  text-align: center;
  justify-content: center;
  width: 100%;
  background-image: url("../../assets/images/00main/main1.png");
  background-size: cover;
  background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
  /* width: 100%; */
  height: 38.5vw;
  /* top: 4rem; */
}

.mainlayout2 {
  background-color: #fffbec;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  padding: 4.45vw 30vw;
  /* padding: 80px 200px; */
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 2.65vw;
  /* gap: 48px; */
  width: 100%; /* 부모 요소의 전체 너비를 차지하도록 설정 */
  /* height: 735px;  */
}

.mainlayout3 {
  /* position: relative; */
  display: flex;
  /* height: 1920px; */
  padding: 7.7vw 17.3vw;
  /* padding: 138px 310px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 10vw;
  /* gap: 180px; */
}

.mainlayout4 {
  display: flex;
  width: 100%;
  padding: 0px 2.8vw;
  /* padding: 0px 50px; */
  /* position: absolute; */
  top: 90vw;
  /* bottom: 4.5vw; */
  /* bottom: 110px; */
  flex-direction: row;
  justify-content: space-between;
  gap: 0px;
}

.mainlayoutImage {
  background-image: url("../../assets/images/00main/main2.svg");
  /* height: clamp(120vw, 120vw, 150vw); */
  /* height: 120vw; */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
}

/* @media (max-width: 1100px) {
  .mainlayoutImage {
    height: 135vw;
  }
} */
/* @media (max-width: 1000px) {
  .mainlayoutImage {
    height: 100vw;
  }
} */

.mainsublayout {
  display: flex;
  padding-left: 6.38vw;
  padding-right: 6.38vw;
  /* padding-left: 150px; */
  /* padding-right: 150px; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mainsublayout2 {
  width: clamp(18rem, 38vw, 40rem);
  /* width: 680px; */
}

.mainsublayout3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 1.9vw;
  /* gap: 34px; */
}

.mainsub3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5vw;
  /* gap: 45px; */
}
.mainsub3_1 {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.mainsub3_2 {
  display: flex;
  width: 100%;
  /* position: absolute; */
  /* bottom: 210px; */
  padding-top: 16vw;
  padding-bottom: 0vw;
  /* padding-bottom: 100px; */
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 1.35vw;
  /* gap: 24px; */
}

.sublayout {
  display: flex;
  flex-direction: column;
  margin-top: 1.65vw;
  gap: 5px;
  /* margin-top: 30px; */
}

.subImage {
  display: flex;
  /* padding: ; */
  width: 25.35vw;
  border-radius: 27px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
}

.subTitle {
  color: #212121;
  font-family: "Roboto";
  font-size: clamp(0.8rem, 1.23vw, 2rem);
  /* font-size: 22px; */
  font-weight: 600;
  margin: 0px;
}

.subContent {
  white-space: pre-wrap;
  /* padding: 0px 0vw; */
  color: #7d7c7c;
  text-align: center;
  font-family: "Roboto";
  font-size: clamp(0.8rem, 1.12vw, 2rem);
  /* font-size: 20px; */
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.4px;
  margin: 0px;
}

.subContent2 {
  color: #424242;
  font-family: "Roboto500";
  font-size: clamp(1rem, 1.115vw, 2rem);
  /* font-size: 20px; */
  font-weight: 500;
  line-height: 38px;
}

.subContent3 {
  color: #424242;
  font-family: "Roboto500";
  font-size: clamp(1rem, 1.34vw, 2rem);
  /* font-size: 24px; */
  font-weight: 500;
  line-height: 36px;
}

.moveButton {
  display: flex;
  width: 15vw;
  padding: 0.88vw 1vw;
  /* padding: 16px 32px; */
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 52px;
  background-color: #ff903c;
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: clamp(0.8rem, 1.115vw, 2rem);
  /* font-size: 20px; */
  font-weight: 700;
  line-height: 160%;
  text-transform: uppercase;
}

.itemRight {
  align-self: flex-end;
  text-align: right;
}

.diamonds {
  position: relative;
  width: 40vw; /* 전체 너비를 설정, 마름모 크기에 따라 조정 필요 */
  height: 11.1vw; /* 전체 높이를 설정, 마름모 크기에 따라 조정 필요 */
  margin-top: 28vw;
  padding-right: 20vw;
}
.diamond {
  background-color: #ffffff;
  position: absolute;
  text-align: center;
  border-radius: 15px;
  padding: 0px 20px;
  width: 14.5vw; /* 마름모의 너비 */
  height: 14.5vw; /* 마름모의 높이 */
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
/* 첫 번째 마름모 (아래) */
.diamond:nth-child(1) {
  top: -1vw;
  left: -1vw;
}
/* 두 번째 마름모 (위) */
.diamond:nth-child(2) {
  bottom: 7vw;
  left: 6.5vw; /* 이전 마름모와 겹치지 않도록 왼쪽으로부터의 위치 조정 */
}
/* 세 번째 마름모 (아래) */
.diamond:nth-child(3) {
  top: -1vw;
  left: 14.5vw; /* 이전 마름모와 겹치지 않도록 왼쪽으로부터의 위치 조정 */
}
/* 네 번째 마름모 (위) */
.diamond:nth-child(4) {
  bottom: 7vw;
  left: 22.5vw; /* 이전 마름모와 겹치지 않도록 왼쪽으로부터의 위치 조정 */
}
.diamond-text {
  color: #f68c29;
  height: 4vw;
  font-size: 1.3vw;
  /* text-align: center; */
  font-family: "Roboto500";
  line-height: 160%;
  text-transform: uppercase;
  padding-top: 2.75vw;
  /* padding-top: 50px; */
}
.diamond-text2 {
  color: #000;
  font-size: 0.9vw;
  font-family: "Roboto300";
  line-height: 160%;
}
