/****************Carrer[s]******************/
/* 화면 사이즈, 테이블 사이즈도 포함 */
.SectionDivNews {
  width: 100%;
  height: 100%;
  padding: 110px 10%;
}

.careerWrap {
  /*position: relative;
  height: 100vh;*/
  width: 100%;
}
.careerContainList {
  /*
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  */
  padding: 1% 0;
}
.listCnt {
  padding: 35px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.korFonts {
  transform: skew(-0.001deg);
  /* font-weight: 900; */
}

.ncol1 {
  width: 197%;
}
.ncol2 {
  width: 43%;
}
.ncol3 {
  width: 48%;
}
.ncol4 {
  width: 40%;
}

.newsContainListHeader {
  display: flex;
  flex-direction: row;
  border-top: 3px solid #232323;
  border-bottom: 1px solid #232323;
}
.newsContainListHeaderCol {
  margin: 10px 0;
  text-align: center;
  border-right: 0.5px solid #d8d8d8;
}
.newsContainListHeader .newsContainListHeaderCol:last-child {
  border-right: 0;
}
.newsListRow {
  border-top: 0.5px solid #e5e5e5;
  border-bottom: 0.5px solid #e5e5e5;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.newsContainListCol {
  margin: 10px 0;
  text-align: center;
}
.newsListTitle {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  align-items: flex-start;
  text-align: left;
}
.newsListTitleDate > span {
  margin-right: 15px;
}

.pager {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pager li {
  margin: 0 5px;
  padding: 0;
  border: 0;
  float: left;
  cursor: pointer;
}
.pagingActive {
  text-decoration: underline;
}
.pagingDiv {
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.careerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 50%;
  height: 45px;
  border-radius: 5px;
}
.listBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.careerBtnIng {
  background-color: #ffbd2b;
}
.careerBtnEnd {
  background-color: #dadada;
}

@media screen and (max-width: 992px) {
  .squareCareer {
    width: 160px;
    min-height: 126px;
    margin: 12px 20px;
  }
  .squareCareer:after,
  .squareCareer:before {
    position: absolute;
    content: "";
    width: calc(100% - 2px);
    left: 0px;
    z-index: -1;
  }
  .squareCareer:before {
    height: 38.3px;
    top: 0px;
    border: 2px solid #07a990;
    border-width: 2px 3px 0px 0px;
    transform: skew(45deg);
    transform-origin: right bottom;
  }
  .squareCareer:after {
    height: calc(100% - 40px);
    bottom: 0px;
    border: 2px solid #07a990;
    border-width: 0px 2px 2px 0px;
  }

  .squareCareerSelected {
    width: 160px;
    min-height: 126px;
    margin: 12px 20px;
  }
  .squareCareerSelected:before,
  .squareCareerSelected:after {
    border-top: 20px solid #fff;
    border-right: 20px solid #fff;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }

  .squareCareerSelected:after {
    border: 19px solid transparent;
    border-top-color: #07a990;
    border-bottom: 0;
    margin-left: -19px;
    margin-bottom: -19px;
  }
}
@media screen and (max-width: 768px) {
  .squareCareer {
    width: 120px;
    min-height: 92px;
    margin: 12px 15px;
  }
  .squareCareer:after,
  .squareCareer:before {
    position: absolute;
    content: "";
    width: calc(100% - 2px);
    left: 0px;
    z-index: -1;
  }
  .squareCareer:before {
    height: 26.6px;
    top: 0px;
    border: 2px solid #07a990;
    border-width: 2px 3px 0px 0px;
    transform: skew(45deg);
    transform-origin: right bottom;
  }
  .squareCareer:after {
    height: calc(100% - 28px);
    bottom: 0px;
    border: 2px solid #07a990;
    border-width: 0px 2px 2px 0px;
  }

  .squareCareerSelected {
    width: 120px;
    min-height: 92px;
    margin: 12px 15px;
  }
  .squareCareerSelected:before,
  .squareCareerSelected:after {
    border-top: 15px solid #fff;
    border-right: 15px solid #fff;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  .squareCareerSelected:after {
    border: 15px solid transparent;
    border-top-color: #07a990;
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
  }
  .careerListTitle {
    flex-direction: column;
    padding: 5px;
    padding-left: 10px;
  }
  .careerListTitle > div:first-child {
    width: 100%;
    text-align: start;
  }
  .careerListTitleDate {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .careerListTitleDate > span {
    margin-right: 5px;
  }
  .listBtn {
    padding: 3px 0;
  }
  .careerListTitleDateSeparator {
    display: none;
  }
  .careerBtn {
    width: 80%;
    min-height: 30px;
  }
  .pagingDiv {
    width: 100%;
    padding: 30px 10px;
  }
  .pager li {
    margin: 0 8px;
  }
}

@media screen and (max-width: 600px) {
  .SectionDivCareer {
    padding: 110px 2.5%;
  }
  .squareCareer {
    width: 80px;
    min-height: 60px;
    margin: 12px 15px;
  }
  .squareCareer:after,
  .squareCareer:before {
    position: absolute;
    content: "";
    width: calc(100% - 2px);
    left: 0px;
    z-index: -1;
  }
  .squareCareer:before {
    height: 15px;
    top: 0px;
    border: 2px solid #07a990;
    border-width: 2px 3px 0px 0px;
    transform: skew(45deg);
    transform-origin: right bottom;
  }
  .squareCareer:after {
    height: calc(100% - 17px);
    bottom: 0px;
    border: 2px solid #07a990;
    border-width: 0px 2px 2px 0px;
  }

  .squareCareerSelected {
    width: 80px;
    min-height: 60px;
    margin: 12px 15px;
  }
  .squareCareerSelected:before,
  .squareCareerSelected:after {
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .squareCareerSelected:after {
    border: 10px solid transparent;
    border-top-color: #07a990;
    border-bottom: 0;
    margin-left: -10px;
    margin-bottom: -10px;
  }
}
