/****************News[s]******************/
.newsWrap {
  /*position: relative;
  height: 100vh;*/
  width: 100%;
}
.layer-scroll {
  /* -webkit-overflow-scrolling: touch; */
  overflow: hidden;

  /* width:100%;
  height:100%;
  position: fixed; */
}

.newsContainList {
  /* display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
  height: 100%;
  padding: 1%;
}
.newsContain {
  margin: 2% auto;
  text-align: center;
  width: 80%;
  min-width: 738px;
  min-height: 280px;
  /* flex:1; */
  border-radius: 4px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08),
    0 -10px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}
.newsContentsImgContain {
  min-width: 230.7px;
  width: 30%;
  margin: 1%;
  text-align: center;
  overflow: hidden;
  /* position: relative; */
  /*padding-top: 100%; /* 1:1 ratio */
  /* overflow: hidden; */
}
.newsContentsImgContainCenter {
  width: 100%;
  height: 100%;
  /* min-height: 260px; */
  text-align: center;
  margin: auto;
  position: relative;
}
.newsContentsImg {
  /*width:100%;*/
  height: auto;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.newsContentsTextContain {
  margin: 2% 2%;
  min-width: 461.4px;
  width: 60%;
  min-height: 250px;
  /*display: flex;
  flex-wrap: wrap;*/
  position: relative;
  /*flex:0 1 0; */
  /* flex-direction: column; */
}
.noImage {
  width: 100%;
  margin: 2% 6%;
}
.newsContentsTextContain > div {
  margin: 5px 0;
}
.newsContentsTopBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.newsContentsTitleBar {
  width: 100%;
  padding: 2% 0 1% 0;
  max-height: 70%;
  text-align: left;
  min-height: 100px;
  color: #20212f;
  /*title center*/
  display: flex;
  align-items: center;
}
/* styles for '...' */
.newsContentsBar {
  color: #20212f;
  opacity: 0.7;
  /* hide text if it more than N lines  */
  overflow: hidden;
  font-size: 1em;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  min-height: 1.2em;
  max-height: 4.8em;
  -moz-line-prefix: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  -webkit-text-size-adjust: none;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
  word-break: break-all;
  word-wrap: break-word;
}
/* create the ... */
.newsContentsBar:before {
  /* points in the end */
  content: "...";
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.newsContentsBar:after {
  /* points in the end */
  content: "";
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

.listBottomLine {
  opacity: 0.1;
  border: solid 0.5px #20212f;
  margin: 0 0 0.2% 0 !important;
  height: 0px;
  width: 100%;
}
.newsContentsBottomBar {
  margin: 8px 0 3px 0 !important;
  height: 10px;
  width: 100%;
  color: #1776aa;
  text-align: right;
  min-height: 30px;
}
.newsContentsBottomBar > p {
  cursor: pointer;
}
.newsContentsDate {
  color: #20212f;
}
.PRESS {
  color: #bd16ce;
}
.MEDICAL {
  color: #2ccfd3;
}
.TECHNOLOGY {
  color: #5054f4;
}
.newsDate {
  margin-left: auto;
  color: #20212f;
}
.newsSquareButtonContain {
  margin: 0 10% 2%;
  cursor: pointer;
  /*0906 ie margin...*/
  min-height: 55px;
}
.newsSquareButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e39650;
  width: 20%;
  height: 3em;
  margin: 10px;
  float: right;
  border-radius: 5px;
  cursor: pointer;
}
.newsButtonLink {
  text-decoration: none;
  color: #ffffff;
  font-size: 1em;
}
.newsButtonLinkDisable {
  text-decoration: none;
  color: rgb(150, 150, 150);
  font-size: 1em;
}

@media (max-width: 480px) {
  .newsContain {
    height: auto;
    flex-direction: column;
    min-width: 300px;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .newsContentsImgContain {
    min-width: 90%;
    height: auto;
  }
  .newsContentsImgContainCenter {
    margin-top: 2%;
    margin-bottom: 2%;
    position: static;
    position: initial;
  }
  .newsContentsImg {
    height: auto;
    width: auto;
    /* width:100%; */
    position: static;
    position: initial;
  }
  .newsContentsTopBar {
    margin-bottom: 5px;
  }
  .newsContentsTextContain {
    width: 90%;
    min-width: 280px;
    height: auto;
    min-height: 100px;
    margin: 1% 2%;
  }
  .newsContentsTitleBar {
    min-height: 30px; /*fontsize 26 min 22*/
  }
  .newsContentsBottomBar > p {
    text-align: center;
  }
  .newsSquareButtonContain {
    padding: 0;
  }
  .newsSquareButton {
    width: 100%;
  }
  .newsSquareButton {
    margin: 10px 0;
    float: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .newsContain {
    flex-direction: column;
    min-width: 450px;
    width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .newsContentsImgContain {
    min-width: 90%;
    height: auto;
    /* height:100%; */
  }
  .newsContentsImgContainCenter {
    margin-top: 2%;
    margin-bottom: 2%;
    position: static;
  }
  .newsContentsImg {
    position: static;
    height: auto;
    width: auto;
    /* width:100%; */
  }
  .newsContentsTextContain {
    width: 90%;
    height: auto;
    min-height: 100px;
    margin: 0 2%;
  }
  .newsContentsTitleBar {
    min-height: 30px;
  }
  .newsContentsBottomBar > p {
    text-align: center;
  }
  .newsSquareButtonContain {
    padding: 0;
  }
  .newsSquareButton {
    width: 100%;
  }
  .newsSquareButton {
    margin: 10px 0;
    float: none;
  }
}
@media (min-width: 769px) {
}

/****************News[e]******************/
