/*  1260 < Screen  */
/* PADDING */
/* 
  ps-# -> content side padding + #px 
  pt-# -> content top padding + #px
  pb-# -> content bottom padding + #px

*/
/* ps-# - padding side */
.ps-36 {
  padding-left: 36px;
  padding-right: 36px;
}
.ps-48 {
  padding-left: 48px;
  padding-right: 48px;
}

/* pt-# - padding top */
.pt-4 {
  padding-top: 4px;
}
.pt-8 {
  padding-top: 8px;
}
.pt-16 {
  padding-top: 16px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-32 {
  padding-top: 32px;
}
.pt-64 {
  padding-top: 64px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-100 {
  padding-top: 100px;
}
.pt-150 {
  padding-top: 150px;
}
.pt-300 {
  padding-top: 300px;
}
.pt-236 {
  padding-top: 236px;
}

/* pb-# - padding bottom */
.pb-4 {
  padding-bottom: 4px;
}
.pb-8 {
  padding-bottom: 8px;
}
.pb-16 {
  padding-bottom: 16px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pb-64 {
  padding-bottom: 64px;
}
.pb-200 {
  padding-bottom: 200px;
}
.pb-300 {
  padding-bottom: 300px;
}
.pb-400 {
  padding-bottom: 400px;
}
.pb-500 {
  padding-bottom: 500px;
}
.pb-600 {
  padding-bottom: 600px;
}

/* ptb-# - padding top and bottom */
.ptb-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.ptb-36 {
  padding-top: 36px;
  padding-bottom: 36px;
}

/* text margins: 
  m-reset - margin reset
  mb-8- margin bottom 
  mt : margin top
*/
.m-reset {
  margin: 0;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8{
  margin-bottom: 8px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-12 {
  margin-top: 12px;
}

.mt-8 {
  margin-top: 8px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-12 {
  margin-top: 12px;
}


/* flex:
  flex-wrap: default flex wrap
  flex-col: flex (direction -> column)
  flex-row: flex (direction -> row)
  gap-#: the gap length 
*/
.flex {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-col-reverse {
  display: flex;
  flex-direction: column-reverse;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.gap-240 {
  gap: 240px;
}
.gap-120 {
  gap: 120px;
}
.gap-68 {
  gap: 68px;
}
.gap-64 {
  gap: 64px;
}
.gap-58 {
  gap: 58px;
}
.gap-56 {
  gap: 56px;
}
.gap-40 {
  gap: 40px;
}
.gap-24 {
  gap: 24px;
}
.gap-16 {
  gap: 16px;
}
.gap-4 {
  gap: 4px;
}

/* Line Alignment */
.text-align-start {
  text-align: start;
}
.text-align-center {
  text-align: center;
}
.align-items-center {
  align-items: center;
}
.application {
  align-items: center;
}

.lineheight160 {
  line-height: 160%;
}
.lineheight140 {
  line-height: 140%;
}

/* display */
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}


/*  1024 < Screen < 1260 */
@media screen and (max-width: 1260px) {
  
}

/*  768 < Screen < 1024 */
@media screen and (max-width: 1024px) {
  /* Draft design */
  .flex-row {
    flex-direction: column-reverse;
  }
  .flex-row-reverse {
    flex-direction: column-reverse;
  }
  .gap-120 {
    gap: 48px;
  }
  .gap-56 {
    gap: 48px;
  }
  .gap-40 {
    gap: 48px;
  }
}

/*  600 < Screen < 768 */
@media screen and (max-width: 768px) {
  
}

/*  320 < Screen < 600 */
@media (min-width: 320px) and (max-width: 600px) {
}
