html {
  scroll-behavior: smooth;
}
/* @font-face {
  font-family: "NanumSquareL";
  font-style: normal;
  font-weight: 300;
  src: local("./assets/fonts/NanumSquareL"),
    url("./assets/fonts/NanumSquareL.eot"),
    url("./assets/fonts/NanumSquareL.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/NanumSquareL.woff2") format("woff2"),
    url("./assets/fonts/NanumSquareL.woff") format("woff"),
    url("./assets/fonts/NanumSquareL.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareR";
  font-style: normal;
  font-weight: 400;
  src: local("./assets/fonts/NanumSquareR"),
    url("./assets/fonts/NanumSquareR.eot"),
    url("./assets/fonts/NanumSquareR.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/NanumSquareR.woff2") format("woff2"),
    url("./assets/fonts/NanumSquareR.woff") format("woff"),
    url("./assets/fonts/NanumSquareR.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareB";
  font-style: normal;
  font-weight: 500;
  src: local("./assets/fonts/NanumSquareB"),
    url("./assets/fonts/NanumSquareB.eot"),
    url("./assets/fonts/NanumSquareB.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/NanumSquareB.woff2") format("woff2"),
    url("./assets/fonts/NanumSquareB.woff") format("woff"),
    url("./assets/fonts/NanumSquareB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareEB";
  font-style: normal;
  font-weight: 700;
  src: local("./assets/fonts/NanumSquareEB"),
    url("./assets/fonts/NanumSquareEB.eot"),
    url("./assets/fonts/NanumSquareEB.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/NanumSquareEB.woff2") format("woff2"),
    url("./assets/fonts/NanumSquareEB.woff") format("woff"),
    url("./assets/fonts/NanumSquareEB.ttf") format("truetype");
} */

/* FONT */
@font-face {
  font-family: "NotoSansKoreanL";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans Light"), local("NotoSans-Light"),
    url("./assets/fonts/NotoSansKR-Light-Hestia.eot"),
    url("./assets/fonts/NotoSansKR-Light-Hestia.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/NotoSansKR-Light-Hestia.woff") format("woff"),
    url("./assets/fonts//NotoSansKR-Light-Hestia.otf") format("opentype");
}

@font-face {
  font-family: "NotoSansKoreanR";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"),
    url("./assets/fonts/NotoSansKR-Regular-Hestia.eot"),
    url("./assets/fonts/NotoSansKR-Regular-Hestia.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/NotoSansKR-Regular-Hestia.woff") format("woff"),
    url("./assets/fonts//NotoSansKR-Regular-Hestia.otf") format("opentype");
}

@font-face {
  font-family: "NotoSansKoreanB";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"),
    url("./assets/fonts/NotoSansKR-Medium-Hestia.eot"),
    url("./assets/fonts/NotoSansKR-Medium-Hestia.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/NotoSansKR-Medium-Hestia.woff") format("woff"),
    url("./assets/fonts//NotoSansKR-Medium-Hestia.otf") format("opentype");
}

@font-face {
  font-family: "NotoSansKoreanEB";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"),
    url("./assets/fonts/NotoSansKR-Bold-Hestia.eot"),
    url("./assets/fonts/NotoSansKR-Bold-Hestia.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/NotoSansKR-Bold-Hestia.woff") format("woff"),
    url("./assets/fonts//NotoSansKR-Bold-Hestia.otf") format("opentype");
}

/*************************************************************************************/

@font-face {
  font-family: "Roboto300";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/roboto-v20-latin-300.eot");
  src: local("Roboto Light"), local("Roboto-Light"),
    url("./assets/fonts/roboto-v20-latin-300.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/roboto-v20-latin-300.woff2") format("woff2"),
    url("./assets/fonts/roboto-v20-latin-300.woff") format("woff"),
    url("./assets/fonts/roboto-v20-latin-300.ttf") format("truetype"),
    url("./assets/fonts/roboto-v20-latin-300.svg#Roboto") format("svg");
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto400";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/roboto-v20-latin-regular.eot");
  src: local("Roboto"), local("Roboto-Regular"),
    url("./assets/fonts/roboto-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    url("./assets/fonts/roboto-v20-latin-regular.woff") format("woff"),
    url("./assets/fonts/roboto-v20-latin-regular.ttf") format("truetype"),
    url("./assets/fonts/roboto-v20-latin-regular.svg#Roboto") format("svg");
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto500";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/roboto-v20-latin-500.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("./assets/fonts/roboto-v20-latin-500.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/roboto-v20-latin-500.woff2") format("woff2"),
    url("./assets/fonts/roboto-v20-latin-500.woff") format("woff"),
    url("./assets/fonts/roboto-v20-latin-500.ttf") format("truetype"),
    url("./assets/fonts/roboto-v20-latin-500.svg#Roboto") format("svg");
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto700";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/roboto-v20-latin-700.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("./assets/fonts/roboto-v20-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/roboto-v20-latin-700.woff2") format("woff2"),
    url("./assets/fonts/roboto-v20-latin-700.woff") format("woff"),
    url("./assets/fonts/roboto-v20-latin-700.ttf") format("truetype"),
    url("./assets/fonts/roboto-v20-latin-700.svg#Roboto") format("svg");
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto900";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/roboto-v20-latin-900.eot"); /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"),
    url("./assets/fonts/roboto-v20-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/roboto-v20-latin-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./assets/fonts/roboto-v20-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("./assets/fonts/roboto-v20-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/roboto-v20-latin-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/*montserrat alternates*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&display=swap");
.FontL {
  font-family: "Roboto300", sans-serif;
}
.FontR {
  font-family: "Roboto400", sans-serif;
}
.FontB {
  font-family: "Roboto500", sans-serif;
}
.FontCB {
  /* Custom Font */
  font-family: "Roboto400", sans-serif;
  font-weight: 600;
}
.FontEB {
  font-family: "Roboto700", sans-serif;
}

.FontNL {
  font-family: "NotoSansKoreanL", sans-serif;
}
.FontNR {
  font-family: "NotoSansKoreanR", sans-serif;
}
.FontNB {
  font-family: "NotoSansKoreanB", sans-serif;
}
.FontNCB {
  font-family: "NotoSansKoreanR", sans-serif;
  font-weight: 600;
}
.FontNEB {
  font-family: "NotoSansKoreanEB", sans-serif;
}
.Font_Mont_600 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;

  font-size: 48px;
  color: #fff;
  line-height: 58.51px;
}
.Font_Mont_400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;

  font-size: 20px;
  color: #fff;
  line-height: 24.38px;
}
/* COLOR */
.tcb {
  color: #1e1e1e;
}
.tco {
  color: #ff622b;
}
.tco2 {
  color: #f37f31;
}
.tcg {
  color: #666666;
}
.tcg2 {
  color: #a0a0a0;
}
.tcg3 {
  color: #787878;
}
.tcg4 {
  color: #808988;
}
.tcgreen1 {
  color: #07a990;
}
.tcgreen2 {
  color: #04c6a2;
}
.tcgreen3 {
  color: #00f5c7;
}
.tcw {
  color: #fff;
}
.tcsb1 {
  color: #5dffff;
}
.tcsb2 {
  color: #d4ffff;
}
.tctheader {
  color: #4e5968;
}

body,
html {
  height: 100%;
}

html {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: "Roboto300", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* COMPONENTS */
.SectionDiv {
  width: 100%;
  height: 100%;
  padding: 110px 10%;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.youtube {
  position: relative;
  padding-top: 56%;
  width: calc(80vw);
  height: 0;
  background: #f2c285;
  border-radius: 24px;
}
#service .youtube {
  width: 100%;
}
.youtube > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
}

/*tab*/
.tagAPadding {
  padding: 25px 20px;
}
.tagADefault {
  /* width: 80%; */
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* color: #a0a0a0; */
}
.tabATag {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #a0a0a0;
}
.tabATagTab {
  width: 100%; /* width: 80%; */
  display: flex;
  margin-top: 1px; /* height 99px + 1px margin-top */
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* color: #000000;
  border-bottom: 2px solid #000000; <- the original */
  color: #f37f31;
  border-bottom: 4px solid #f37f31;
}
.TABS_layout {
  display: flex;
  /* justify-content: space-between; */
  padding: 0 5%;
  height: 100px;
}
.TABS_tab {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a0a0a0;
}
.TABS_sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  offset-position: 100px;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  align-items: flex-end;
  background-color: white;
}
.sticky_padding {
  width: 100%;
  height: 84px;
}
.vertical_line {
  height: 190px;
  width: 0px;
  border-left: 1px solid;
  left: 1px;
  margin: auto;
}
.vertical_line_dark {
  border-color: #646464;
}
.vertical_line_light {
  border-color: #dcdcdc;
}
.separator {
  height: 24px;
  width: 1px;
}

/*card 공통*/
/* COMMON CARD TITLE */
.card_titleDiv {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}
.card_default_font {
  font-size: 28px;
}

.card_titleDiv_padding_b {
  padding-bottom: 16px;
}
.card_titleDiv_bold {
  font-family: "Roboto500", sans-serif;
}

.card_between {
  /*position relative는 commonCardFrameRight 사진위치 하단으로 옮기기 위해 추가*/
  display: flex;
  justify-content: space-between;
  column-gap: 35px;
}

.card_flexcolumn {
  display: flex;
  flex-direction: column;
}

.card_content_block {
  display: block;
}
.card_MinWidth {
  padding-top: 48px;
  min-width: 360px;
  max-width: 480px;
}

.img_trans {
  display: flex;
  column-gap: 48px;
}
.card_middlebar {
  display: block;
  height: 2px;
  width: 100px;
  background: #aaaaaa;
  margin: 52px 0;
}

/*image shadow*/
.image_shadow {
  border-radius: 48px;
  background: linear-gradient(242.33deg, #555555 10.43%, #111111 33.54%);
  box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.24);
}

/* media screen */
/*  1024 < Screen < 1260 */
@media screen and (max-width: 1260px) {
  .sticky_padding {
    width: 100%;
    height: 84px;
  }
  .SectionDivNT {
    padding: 176px 48px 0 48px;
  }
  .SectionDivUpBlank {
    padding-top: 190px;
  }
  .tagAPadding {
    padding: 25px 0px;
  }
}
/*  768 < Screen < 1024 */
@media screen and (max-width: 1024px) {
  .TABS_layout_padding {
    height: 100px;
    padding: 0 0;
  }
  .card_MinWidth {
    padding-top: 48px;
    padding-bottom: 72px;
    min-width: 360px;
    max-width: 100%;
  }
}
/*  600 < Screen <= 768 */
@media screen and (max-width: 768px) {
  /* COMMON CARD TITLE */
  .card_titleDiv span {
    font-size: 24px;
  }

  /* .title_center {
    padding-top: 67px;
  } */
}
/*  320 < Screen <= 600 */
@media screen and (max-width: 600px) {
  /* COMMON CARD TITLE */
  .card_titleDiv span {
    font-size: 18px;
    font-weight: 600;
  }
  .Font_Mont_600 {
    font-size: 45px;
  }
}
/* screen <= 320px */
@media screen and (max-width: 320px) {
  /* COMMON CARD TITLE */
  .card_titleDiv span {
    font-size: 18px;
    font-weight: 600;
  }
  .Font_Mont_600 {
    font-size: 40px;
  }
}

@media screen and (max-width: 428px) {
  .card_MinWidth {
    padding-top: 12px;
    padding-bottom: 48px;
    min-width: 280px;
    max-width: 100%;
  }
  .SectionDivUpBlank {
    padding-top: 0;
  }
  .SectionDivUpBlank {
    padding: 0px 0px 0px 0px;
  }
  .card_middlebar {
    display: block;
    height: 1px;
    width: 50px;
    background: #aaaaaa;
    margin: 40px 0;
  }
  .newcard_mp4_padding_b {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 320px) {
  .SectionDiv {
    padding: 80px 8px;
  }
}
/* @media screen and (max-width: 700px) {
  .TABS_sticky {
    display: none;
  }
  .SectionDivUpBlank {
    padding-top: 48px;
  }
  .SectionDivNT {
    padding: 48px 30px 0 30px;
  }
  .img_trans img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 35%;
    width: 200px;
    transform: translateX(-50%);
    z-index: 2;
  }
  .img_trans > img:nth-child(2) {
    position: absolute;
    top: 8%;
    left: 72%;
    width: 170px;
    transform: translateX(-50%);
    z-index: 1;
  }

  .img_trans > img:nth-child(1).image_shadow,
  .img_trans > img:nth-child(2).image_shadow {
    border-radius: 32px;
    background: linear-gradient(242.33deg, #555555 10.43%, #111111 33.54%);
    box-shadow: 4px 4px 32px rgb(0 0 0 / 24%);
  }
  .img_trans {
    position: relative;
    display: flex;
    column-gap: 48px;
    justify-content: center;
    height: 410px;
  }
}
@media screen and (max-width: 1100px) {
  .card_between {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .card_content_block {
    display: inline;
  }

  .img_trans {
    position: relative;
    display: flex;
    column-gap: 48px;
    justify-content: center;
  }
  .cardRight.card_between {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1260px) {
  .TABS_layout_padding {
    height: 100px;
    padding: 0 8%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
} */
.tabdown {
  animation: godown 1s 1 forwards;
}
@keyframes godown {
  from {
    width: 100%;
    height: 0px;
  }
  to {
    width: 100%;
    height: 90px;
  }
}
.tabtrans {
  width: 100%;
  height: 90px;
  transition: all 1s linear;
}
.tabnotrans {
  width: 100%;
  height: 0px;
  transition: all 1s linear;
}

.movecontainer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 10px;
  align-items: center; /* 수직 정렬을 가운데로 설정합니다. */
  height: 50px;
}

.movebtn {
  width: auto;
  background: #f37f31;
  border-radius: 68px;
  width: 40%;
}
.movetext {
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 24px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .movetext {
    font-size: 18px;
  }
}
