.menuWrapDiv {
  z-index: 100;
  position: fixed;
  /* border-bottom: 1px solid #E6E6E6; */
  background-color: transparent;
  width: 100%;
  min-height: 87px;
  padding: 4px 64px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
}
.menuBorderBottomLight {
  border-bottom: 1px solid #e6e6e6;
}
.menuBorderBottomDark {
  border-bottom: 1px solid #505050;
}
.menuWrapOver {
  background-color: #fff;
}
.menuWrap {
  /* max-width: 1260px;
  min-width: 1260px;
  width: 1260px; */
  min-height: 87px;
  height: 87px;
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between;
}

.part {
  overflow-y: hidden;
  display: block;
  visibility: visible;
  background-color: #fff;
  height: 300px;
  max-height: 300px;
  transition-property: display, max-height;
  transition: display 0.5s ease-in-out, max-height 0.5s ease-in-out;
}
.partHide {
  visibility: hidden;
  max-height: 0px;
  transition: max-height 0.5s ease-in-out, visibility 0s linear 0s;
}
.menulogo {
  display: flex;
  align-items: center;
  padding: 5px;
}
.logoImgContainCenter {
  z-index: 13;
  text-align: center;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;

  background-size: 180px 40px;
  width: 180px;
  height: 40px;
}
.logoImgContainCenterM {
  z-index: 13;
  text-align: center;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 148px 36px;
  width: 148px;
  height: 36px;
}

.menusAfterLogo {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.menudiv {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 182.6px;
}
.menudiv a {
  color: #000000;
  text-decoration: none;
}

.menuDetail {
  width: 100%;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.menuDetailDark {
  width: 100%;
  border-top: 1px solid #505050;
  border-bottom: 1px solid #505050;
}

.menuDetailRow {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.menuDetailDiv {
  border-right: 1px solid #f1f1f1;
  min-height: 255px;
  padding: 25px 0;
  width: 280px;
  text-align: center;
}
.menuDetailDivDark {
  border-right: 1px solid #505050;
  min-height: 255px;
  padding: 25px 0;
  width: 280px;
  text-align: center;
}
.menuDetailDiv a {
  text-decoration: none;
}
.menuDetailDivDark a {
  text-decoration: none;
}
.menuDetailDiv:last-child {
  border-right: none;
}
.menuDetailDivDark:last-child {
  border-right: none;
}

.menuul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 5px 0;
}

.menuul li {
  padding: 5px 0;
  word-wrap: break-word;
}
.menuul li a {
  color: #000;
}
.menuul * a {
  text-decoration: none;
  color: #fff;
}

.isScrolledmenu {
  box-shadow: 0px 2px 2px 0px rgba(150, 150, 150, 0.3);
}

.menuDetailDiv .menuText {
  font-size: 18px;
}
.menuul .menuText {
  font-size: 12px;
}
.mobileMenuRow:hover .menuText {
  color: #e78510;
}

.menuText:hover {
  color: #e78510;
}

.mobilemenusactive {
  color: #e78510;
}

/***** mobile *****/
@media screen and (max-width: 1260px) {
  .mobileMenuWrapDiv {
    z-index: 100;
    position: relative;
    flex-grow: 1;
    background-color: "#FFF";
    min-height: 0;
  }

  .mobileMenuroot {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    min-height: 47px;
    flex-direction: row;
    padding: 0 15px;
  }

  .mobileMenulogo {
    display: flex;
    padding: 10px 5px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }

  .mobileMenus {
    flex-direction: row;
    width: 100%;
    min-width: 100%;
    display: flex;
    padding: 0;
    justify-content: center;
  }

  .mobileMenudiv {
    width: 100%;
    text-align: left;
    max-height: 280px;
    padding: 20px 10px 0;
  }

  .mobileMenudiv a {
    color: #000000;
    text-decoration: none;
  }
  .mobileMenuul {
    position: relative;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .mobileMenuul li {
    position: relative;
    word-wrap: break-word;
    padding: 6px 0;
    text-align: left;
  }
  .mobileMenuul li a {
    height: 26px;
    color: #000000;
  }
  .mobileMenuul * a {
    text-decoration: none;
    color: #ffffff;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobileBtn {
    z-index: 11;
    margin: 3% 1vw 0 0;
    display: block;
    visibility: visible;
  }
  .mobileBtnHambuger {
    padding: 0 !important;
  }
  .mobileBtn > button:focus {
    outline: none;
  }
  .slider {
    overflow-y: hidden;
    display: block;
    visibility: visible;
    height: 100vh;
    max-height: 100vh;
    transition-property: max-height, display;
    transition: max-height 0.5s ease-in-out, display 0.5s ease-in-out;
  }
  .slideroff {
    /* display: none !important; */
    visibility: hidden;
    max-height: 0px;
  }
  .mobileMenuRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    height: 2em;
  }
  .mobilemenuslider {
    overflow-y: hidden;
    display: block;
    visibility: visible;
    padding-left: 30px;
    transition-property: max-height, display;
    transition: max-height 0.5s ease-in-out, display 0.5s ease-in-out;
    max-height: 200px;
  }
  .mobilemenuslideroff {
    /* display: none !important; */
    visibility: hidden;
    max-height: 0px;
  }
}

@media screen and (max-width: 320px) {
  .mobileMenuroot {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    min-height: 35px;
    flex-direction: row;
    padding: 0 5px 0 5px;
  }
  .mobileMenulogo {
    display: flex;
    padding: 0 5px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
  .logoImgContainCenterM {
    width: 28px;
    height: 28px;
    background-size: contain;
  }
  .menuText {
    font-size: 12px;
  }
}

/* DARK MODE */
.modebutton {
  display: none;
}

.darktoggle {
  width: 140px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px 4px 8px;
  gap: 4px;
  background-color: #ffffff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
}

.lighttoggle {
  width: 140px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px 4px 8px;
  gap: 4px;
  background-color: #3c3c3c;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
}

.darkmode {
  line-height: 137%;
  font-size: 10px;
  color: #3c3c3c;
  transition-duration: 0.7s;
}

.lightmode {
  line-height: 137%;
  font-size: 10px;
  color: #ffffff;
  transform: translateX(-25px);
  transition-duration: 0.7s;
}

.darkicon {
  transform: translateX(-10px);
  transition-duration: 0.7s;
}

.lighticon {
  transform: translateX(90px);
  transition-duration: 0.7s;
}

/* MOBILE DARK MODE */
@media screen and (max-width: 1260px) {
  .mobileMenulogo {
    justify-content: space-between;
  }
  .modediv {
    z-index: 10;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 182.6px;
  }
}

@media screen and (max-width: 600px) {
  .modediv {
    z-index: 10;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .logoImgContainCenterM {
    width: 40px;
  }
  .modediv {
    width: max-content;
    z-index: 10;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .darktoggle {
    width: 28px;
    height: 28px;
  }
  .lighttoggle {
    width: 28px;
    height: 28px;
  }
  .darkicon {
    transform: translateX(0);
    transition-duration: 0.7s;
  }
  .lighticon {
    transform: translateX(0);
    transition-duration: 0.7s;
  }
}
