.bottom-totop {
  display: none;
  width: 86px;
  height: 86px;
  position: fixed;
  z-index: 99;
  bottom: 30px;
  right: 30px;
  margin-left: auto;
  /* margin-bottom: 30px; */
  cursor: pointer;
}
.bottom-totop-div {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}
/* screen <= 1024px */
@media screen and (max-width: 1024px) {
  .bottom-totop {
    display: none;
    width: 86px;
    height: 86px;
    position: sticky;
    z-index: 0;
    bottom: 30px;
    right: 30px;
    margin-left: auto;
    margin-bottom: 30px;
    cursor: pointer;
  }
}
/* screen <= 320px */
@media screen and (max-width: 320px) {
  .bottom-totop  {
    width: 60px;
    height: 60px;
    right: 20px;
  }
  .bottom-totop-div > img {
    width: 60px;
    height: 60px;
  }
}
